<?xml version="1.0"?>
<launch>
  <arg name="robot_description" default="robot_description"/>
  <param name="robot_description" command="cat $(find ur_description)/urdf/ur5_robot.urdf"/>
  <!-- <param name="$(arg robot_description)_semantic" textfile="$(find motoman_sda5f_config)/config/motoman_sda5f.srdf" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
    <param name="zeros/shoulder_pan_joint" value="1.575" />
	<param name="zeros/shoulder_lift_joint" value="-2.87"/>
	<param name="zeros/elbow_joint" value="-1.3"/>
	<param name="zeros/wrist_1_joint" value="-2.11"/>
	<param name="zeros/wrist_2_joint" value="-1.57"/>
	<param name="zeros/wrist_3_joint" value="1.57"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
  </node>
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
